<div class="container-fluid">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Reports</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Export</a></li>
    </ul>
    <ul class="nav nav-sidebar">
      <li><a href="">Nav item</a></li>
      <li><a href="">Nav item again</a></li>
      <li><a href="">One more nav</a></li>
      <li><a href="">Another nav item</a></li>
      <li><a href="">More navigation</a></li>
    </ul>
    <ul class="nav nav-sidebar">
      <li><a href="">Nav item again</a></li>
      <li><a href="">One more nav</a></li>
      <li><a href="">Another nav item</a></li>
    </ul>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <form class="col-md-6">
      <clg-fact pattern="t:tweeted(t:user(User), Time, t:text(Tweet))" name="tweet" assign="User: $routeParams.user, Tweet: text, Time: now()"></clg-fact>
      <div class="form-group col-md-10">
	<input type="text" placeholder="Share something..." ng-model="text" class="form-control">
      </div>
      <input type="submit" class="btn btn-default col-md-2" ng-click="add_tweet(); text = ''" value="Share!">
    </form>
    <form class="col-md-6">
      <clg-fact pattern="t:follows(t:user(User), t:user(Followee))" name="followee" assign="User: $routeParams.user, Followee: followee"></clg-fact>
      <div class="form-group col-md-10">
	<input type="text" placeholder="Follow someone..." ng-model="followee" class="form-control">
      </div>
      <input type="submit" class="btn btn-default col-md-2" ng-click="add_followee(); followee=''" value="Follow!">
    </form>
    <h2 class="sub-header">{{$routeParams.user}}'s Timeline</h2>
    <clg-indexed key="t:timelineKey(t:user(User))" to="timeline" assign="User: $routeParams.user"></clg-indexed>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>Time</th>
            <th>Tweet by</th>
            <th>Tweet</th>
	  </tr>
	</thead>
	<tbody>
	  <tr class="timeline-entry" ng-repeat="entry in timeline | orderBy: entry.Fact.args[1].args[1]:true" clg-render-term="entry.Fact.args[1]">
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
</div>
