<div ng-controller="CloudlogCtrl">
<h2>Greetings, {{$routeParams.user}}!</h2>


<form>
  <clg-fact pattern="t:tweeted(t:user(User), t:text(Tweet))" name="tweet" assign="User: $routeParams.user, Tweet: text"/>
  Tweet: <input ng-model="text"> <input type="button" ng-click="add_tweet()" value="Send">
</form>
<form>
  <clg-fact pattern="t:follows(t:user(User), t:user(Followee))" name="followee" assign="User: $routeParams.user, Followee: followee"/>
  Follow: <input ng-model="followee"> <input type="button" ng-click="add_followee()" value="Send">
</form>

<clg-indexed key="t:timelineKey(t:user(User))" to="timeline" assign="User: $routeParams.user"/>
<table class="timeline">
  <tr><th>User</th><th>Tweet</th></tr>
  <tr class="timeline-entry" ng-repeat="entry in timeline" clg-render-term="entry.Fact"/>
  </tr>
</table>

</div>
<a href="#/Login">Logout</a>

